@{
    var rules = (List<String>)Session["rules"];
    if (rules == null)
    {
        Session["rules"] = new List<String>();
    }

    var rul = Request.Form["rule"];

    if (rul != null)
    {
        ((List<String>)Session["rules"]).Add(rul);
        Response.Redirect("Rules.cshtml");
    }
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="~/Rules.cshtml" method="post">
        <input type="text" name="rule" />
        <input type="submit" value="submit" />

    </form>
    <ul>
        @foreach (var rule in rules)
        {
            <li>@rule</li>
        }
    </ul>
</body>
</html>
